HandsOnCheckIn/SampleData/SampleDataSource/SampleDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.SampleDataSource" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.SampleDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SampleDataSource" type="tns:SampleDataSource" />
  <xs:complexType name="SampleDataSource">
    <xs:sequence>
      <xs:element name="Projects" type="tns:Projects" />
      <xs:element name="Volunteers" type="tns:Volunteers" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Projects">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="ProjectsItem" type="tns:ProjectsItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProjectsItem">
    <xs:attribute blend:FormatParameters="4,6" name="Name" type="xs:string" />
    <xs:attribute blend:Format="Date" name="Date" type="xs:string" />
    <xs:attribute name="Location" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="Volunteers">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="VolunteersItem" type="tns:VolunteersItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="VolunteersItem">
    <xs:attribute blend:Format="Name" name="Name" type="xs:string" />
    <xs:attribute blend:Format="Time" name="InTime" type="xs:string" />
    <xs:attribute blend:Format="Time" name="OutTime" type="xs:string" />
    <xs:attribute name="CheckedIn" type="xs:boolean" />
  </xs:complexType>
</xs:schema>